.dashboard {
    h1 {
        margin: 0 auto;
        font-size: 1.5rem;
    }
    p {
        margin: 40px 0;
    }
    .flexDashboard {
        display: flex;
        justify-content: space-between;
    }
    .favorites {
    // .expand {
        margin: 10px 0;
        padding: 7px;
        display: flex;
    }
    // .expand {
    //     background-color: @lightgrey;
    //     color: @black;
    //     text-decoration: underline;
    // }
    .takeQuestionaire {
        margin: 0 0 40px 0;
        width: 100%;
    }
    // img {
    //     width: 280px;
    // }
    .boxStyle {
        &:last-child {
            margin-bottom: 20px;
        }
    }
}

.dashboxcontainer {
    display: flex;
    align-items: center;
    background-color: @lightgreen;
    padding: 50px;
    position: relative;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
    // .arrowbutton {
    //     position: absolute;
    //     left: 10%;
    // }
}

.logout {
    position: absolute;
    right: 10%;
    background-color: @lightgreen;
    padding: 0;
    color: @black;
    text-decoration: underline;
}

// .seeAll {
//     background-color: @lightgreen;
//     padding: 0 0 0 0;
// }

.noFavouritesYet {
    img {
        width: 70%;
    }
    p {
        &:nth-child(2) {
            font-size: 1.125rem;
            font-weight: 500;
            line-height: 1.688rem;
            letter-spacing: 0.005rem;
            color: rgba(0, 0, 0, 0.65);
            margin: 15px 0 0 0;
        }
        &:nth-child(3) {
        font-size: 1rem;
        line-height: 1.5rem;
        letter-spacing: 0.02rem;
        color: rgba(0, 0, 0, 0.65);
        margin: 5px 0 50px;
        }
    }
}