html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
figcaption,
figure,
main {
  display: block;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
dfn {
  font-style: italic;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
audio,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  display: inline-block;
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}
[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details,
menu {
  display: block;
}
summary {
  display: list-item;
}
canvas {
  display: inline-block;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}
html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
*,
h1 {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
body {
  text-align: center;
}
body {
  background-color: #FAFBFF;
}
h2,
h3 {
  margin: 100px 0;
}
.App {
  height: 100vh;
}
.wrapper {
  width: 85%;
  max-width: 1200px;
  margin: 0 auto;
}
img {
  display: block;
  margin: 0 auto;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  padding: 10px;
}
button {
  cursor: pointer;
  border: none;
  background-color: #000;
  border-radius: 20px;
  padding: 10px;
  margin: 50px;
}
form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
form input {
  margin: 10px 0;
}
@font-face {
  font-family: 'Shrikhand';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/shrikhand/v11/a8IbNovtLWfR7T7bMJwbBA.ttf) format('truetype');
}
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/worksans/v17/QGY_z_wNahGAdqQ43RhVcIgYT2Xz5u32K0nXNig.ttf) format('truetype');
}
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/worksans/v17/QGY_z_wNahGAdqQ43RhVcIgYT2Xz5u32K3vXNig.ttf) format('truetype');
}
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/worksans/v17/QGY_z_wNahGAdqQ43RhVcIgYT2Xz5u32K5fQNig.ttf) format('truetype');
}
body {
  font-family: 'Work Sans', sans-serif;
}
h1 {
  font-size: 2.5rem;
  font-weight: 400;
  font-family: 'Shrikhand', cursive;
}
h2 {
  font-size: 1.25rem;
  font-weight: 600;
}
h3 {
  font-size: 1rem;
  font-weight: 600;
}
p {
  font-size: 1.125;
  line-height: 1.688rem;
  font-weight: 400;
}
button {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.5rem;
  font-family: 'Work Sans', sans-serif;
}
::placeholder {
  font-family: 'Work Sans', sans-serif;
}
.home p {
  padding: 50px 0;
}
.home h1 {
  margin: 100px 0;
}
.login p {
  font-size: 1rem;
  margin: -80px 0 50px 0;
}
.login form label {
  margin: 10px;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.login form input {
  padding: 6px 8px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}
.login form input::placeholder {
  letter-spacing: 0.02rem;
}
.survey p {
  margin: 100px 0;
}
.questions div {
  margin: 10px;
  text-align: left;
}
.questions div label,
.questions div input {
  display: flex;
  align-items: center;
  margin: 10px;
}
.questions div label,
.questions div input[type='submit'] {
  margin-top: 1em;
  width: 100%;
  background-color: #DCEAE9;
  margin: 0 auto;
  padding: 8px;
}
