.questions {
    div {
        display: flex;
        margin: 10px;
        background-color: lightgrey;
        label {
            margin: 10px;
            text-align: left;
        }
        input {
            margin: 10px;
        }
    }
}